include ChangeLog
include README
include setup.py
include xyzcmd

graft libxyz
graft conf
graft doc/api
graft doc/user-manual
include doc/overview.pdf
include doc/xyzcmd.1
graft plugins
graft skins
graft scripts
